{% extends "layout.html" %}

{% block title %} Đăng nhập tài khoản {% endblock %}

{% block content %}

<div class="foxv-modal__container">
<!-- Login.Contents -->
    <div class="foxv-modal__contents">
        <h1 class="foxv-modal__title">
            <span>ĐĂNG NHẬP TÀI KHOẢN</span>
        </h1>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
        </form>
        <div class="foxv-header-login-form">
            <section class="foxv-header-login-form__sign-in">
                <div class="foxv-form-field">
                    <h2>Xin vui lòng đăng nhập tài khoản!</h2>
                </div>
                
            </section>
            <div class="foxv-form-divided"></div>
            <section class="foxv-header-login-form__create-account">
                <div class="foxv-form-field">
                    <h2>Nếu bạn chưa có tài khoản</h2>
                    <p class="">Tận hưởng các lợi ích bổ sung và trải nghiệm phong phú hơn bằng cách tạo tài khoản cá nhân.</p>
                </div>
                <div class="foxv-form-field">
                    <button onclick="window.location.href='/templates/registration.html'"  type="button" class="foxv-button-fluid">Tạo tài khoản Foxv</button>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}